/* WEBSITE RESUME CSS STYLING SHEET*/

/*STYLING FOR PAGE SIZING*/
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Optima';
}

/*STYLING FOR NAVIGATION*/
.navbar {
    background-color:#557A95;
    padding: 1% 0;
    font-size: 1.2em;
    color: white;
}
.view {
    color: #557A95;
    border-color: #557A95;
    background-color: white;
    margin-left: 30%;
    width: 40%;
}
/* STYLING FOR HEADER AND BACKGROUND IMAGE*/
#home {
    background: url(Photos/background.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
/*STYLING FOR POSITIONING IMAGE AND TEXT IN THE HEADER */
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/*STYLING FOR FIRST TEXT IN HEADER*/
.landing-text h1 {
    font-size: 500%;
    font-weight: 900px;
    color: WHITE;
}
/*STYLING FOR SECOND TEXT IN HEADER*/
.landing-text h3 {
    color: WHITE;
    margin: 20px;
}
/*STYLING FOR BUTTON*/
.button {
    border: 4px solid #557A95;
    border-radius: 40px;
    padding: 10px 30px;
    color: WHITE;
    width: 120px;
    text-decoration: none;
    transition-duration: 0.4s;   
    
}
/*STYLING ALLOWS FOR HOVERING OVER BUTTON*/
.button:hover {
  background-color: #FFF;
  color: #000;
}

/*STYLING FOR PICTURE IN HEADER*/
.picture { 
    height: 350px;
    width 230px;
    display: table-cell;
    vertical-align: middle;
    margin: 10px auto 20px;
    display: block;
    border: 6px solid #557A95;
}
/*STYLING TO ADD PADDING BETWEEN HEADER AND ABOUT ME*/
.padding {
    padding: 80px 0;   
}
/*STYLING FOR ABOUT ME*/
.container {
    border: 3px solid #557A95;
    padding: 50px;
}

/*STYLING FOR TEXT IN ABOUT ME*/
.lead {
    color: #828282;
    padding:10px;
    text-align: left;
}
/*STYLING FOR UNDERLINE*/
.underline {
    border-bottom: 1px solid #557A95;
    text-decoration: none;
   
}
/*STYLING FOR THE BACKGROUND OF THE PROJECT SECTION*/
.projects {
    background-color: #ededed;
}
.text-center {
    margin: 0px 0px 20px;
    }
}


.btn-outline-info {
    color: #557A95;
    background-color: white;
    border-color: #557A95;
}

.btn-outline-info:hover {
    color: white;
    background-color: #557A95;
    border-color: #557A95;
}

.images {
    width: 100%;
    height: 100%; 
      border:2px solid #fff;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      box-shadow: 10px 10px 5px #ccc;
      -moz-border-radius:25px;
      -webkit-border-radius:25px;
      border-radius:25px;
}
.text {
  background-color: #557A95;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/*STYLING FOR LIST ITEMS*/
.horizontal-list li {
    border: 2px solid #ededed;
    background-color:#ededed;
    margin: 25px;
    height: 60px;
    padding: 18px;
    width: 100px;
    text-align: center;
    display: inline-block;
    list-style: none;
    border-radius: 10px;
}
/*STYLING FOR BACKGROUND OF CONTACT SECTION*/
.background {
    background-color: #557A95;
}
/*STYLING FOR TOP BUTTON*/
.topButton {
    height: 50px;
    width: 50px;
    border: 2px solid #557A9;
    border-radius: 50%;
    display: inline-block;
    color: #557A95;
}
/*STYLING FOR HOVERING OVER TOP BUTTON*/
.topButton:hover {
    color: gray;
}
/*STYLING FOR CONTACT ICONS*/
.icon {
    color: white;
    display: inline-block;
    margin-right: 3%;
    
}
/*STYLING FOR HOVERING OVER CONTACT ICONS*/
.icon:hover {
    color: gray;
}
.title {
    text-align: center;
    padding-top: 50px;
}
.styling {
    
    color: white;
}
.big {
    border: 2px solid darkgray;
    background-color: white;
    margin: 20px;
}
.pad {
    padding: 10px;
}
.link {
    display: flex;
    justify-content: center;
    color: #557A95;
}


.connect {
    color: white;
}
.border  {
    border: 3px solid white;
   
}
.center {
    display: table;
    margin-right: auto;
    margin-left: auto;
}


/*Media queries*/
@media (max-width: 768px) {
    .landing-text h1 {
        font-size: 300%;
    }
}
.drop {
    display: inline-block;
    background-color: #557A95;
    float: right;  
    color: white;
    border: 1px solid white;
   
}
.drop:hover {
    background-color:white;
     border: 1px solid white;
    color: #557A95;
}

#contactMe td {
    border:0px;
    color: white;
    padding: 0px;
    
}

.addSign {
    display: inline-block;
    float: right;
    font-size: 30px;
    color: gray;
    outline:none;
    cursor:pointer; 
    
}
.addSign:hover {
    text-decoration: none;
    color:  #557A95;
}
.cardStyle {
    border-left: 2px solid #557A95; 
    padding-top: 1%; 
    padding-bottom: 1%;
}
.cardHead {
    display: inline-block; 
    font-size: 22px; 
    margin-top: 2%;  
}


.addSign:focus {
display:none;
}
